@model HairSalonBotan.Models.BehandelingVM

@{
    ViewBag.Title = "BehandelingDoorGevenAanCategorie";
}
<h2>BehandelingDoorGevenAanCategorie</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bedrag)
        </th>
        <th></th>
    </tr>
    

    @foreach (var item in Model.geefAlleBehandelingVoorCategorie)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                € @Html.DisplayFor(modelItem => item.Bedrag)
            </td>
            <td>
                @Html.ActionLink("Kiezen", "BehandelingReserveren", new {id = item.BehandelingsId, omschrijving = item.Omschrijving, bedrag = item.Bedrag}, new {@class = "btn btn-primary"})
            </td>
        </tr>
    }
</table>