@model HairSalonBotan.Models.BehandelingVM

@{
    ViewBag.Title = "Index";
}
<br/>
<h2>Index</h2>

<p>
    @Html.ActionLink("Nieuw behandeling toevoegen", "CreateBehandeling")
</p>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categorieVM.categorienaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bedrag)
            </th>
            <th></th>
        </tr>

    @foreach (var item in @Model.behandelingUI) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategorieinfoUI.categorienaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bedrag)
            </td>
            <td>
                @Html.ActionLink("Delete", "VerwijderBehandeling", new { item.behandelingsId })
            </td>
        </tr>
    }
</table>
