@model HairSalonBotan.Models.BehandelingVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Voeg nieuw behandeling toe", "CreateBehandeling")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categorieVM.categorienaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bedrag)
        </th>
        <th></th>
    </tr>

    @foreach (var item in @Model.behandelingUI)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategorieinfoUI.categorienaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bedrag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "VerwijderBehandeling",new { behandelingId = item.behandelingsId })
            </td>
        </tr>
    }

</table>
