@model HairSalonBotan.Models.BehandelingVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nieuw behandeling toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categorieVM.categorienaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bedrag)
        </th>
        <th></th>
    </tr>

@foreach (var item in @Model.behandelingUI) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategorieinfoUI.categorienaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bedrag)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
