@model HairSalonBotan.Models.CategorieVM

@{
    ViewBag.Title = "Categorieën";
}

<link href="~/Content/style.css" rel="stylesheet" />
@*@foreach (var item in Model.categorieInfoUI)
{
    @Html.ActionLink(item.categorienaam, "BehandelingDoorGevenAanCategorie", "Behandeling", new { id = item.categorieId }, null)
}*@
<br /> 
<br /> 
<link href="~/Content/style.css" rel="stylesheet" />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Categorieën</h3>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        @foreach (var item in Model.categorieInfoUI)
                        {
                            <li> @Html.ActionLink(item.categorienaam, "BehandelingDoorGevenAanCategorie", "Behandeling", new { id = item.categorieId }, null)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>




@*<link href="~/Content/style.css" rel="stylesheet" />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Categorieën</h3>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        @foreach (var item in Model.categorieInfoUI)
                        {
                            <li><a href="#@Html.DisplayFor(modelItem => item.categorieId)" data-toggle="tab"> @Html.DisplayFor(modelItem => item.categorienaam)</a></li>
                        }
                    </ul>
                    <div class="tab-content">
                        <div id="1" class="tab-pane fade">
                            <table>
                                @foreach (var item in Model.behandelingMannen)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.omschrijving)
                                        </td>
                                        <td>
                                            € @Html.DisplayFor(modelItem => item.bedrag)
                                        </td>
                                        <td>
                                            <button type="button" class="btn">Reserveren</button>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
