@model HairSalonBotan.Models.KapperszaakVM

@{
    ViewBag.Title = "LijstProducten";
}

<h2>Producten</h2>
<br />
<p>
    @Html.ActionLink("Voeg nieuw product toe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productvm.titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productvm.omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productvm.image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.producten)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            <img src="@Url.Content(item.Image)" width="250" height="200"/>
        </td>
        <td>
            @Html.ActionLink("Verwijder", "ProductVerwijderen", new { productId = item.ProductId })
        </td>
    </tr>
    }

</table>
